#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: white;
}
.go-the-docs {
  color: white;
}
body{
  /* background-color:lightblue; */
  /* background-image: url("C:\ExecutiveTask\spo-student-portal2\src\coolb.jpg") */
  /* background-image: url("https://www.iitk.ac.in/inacomm15/demo/Library.JPG"); */
  background-image: url("https://iitk.ac.in/futurestudents/static/images/backgrounds/BG-new-1.jpg");
  opacity : 0.7;
  background-repeat: no-repeat;
  background-size: cover;
}
h1{
  color:white;
}
.logo-container {
  position: relative; /* or absolute/fixed depending on placement */
}

.curved-logo {
  width: 150px; /* Adjust size */
  height: auto;
  mix-blend-mode: multiply; /* Helps blend with background */
}
img{
  width: 100px;
  height:100px;
}
.header img {
 float:right;
  width: 100px;
  height: 100px;
  margin-right:200px;
  
}

.header h1 {
  position: relative;
  display: inline-block;
  margin-left :300px;
  
  
}
button{
  margin:20px;
}